.borderSection{
  width: 100%;
  border: 2px solid black;
}

div{
  padding-left: 5px;
}

#additionalToppings{
  display: none;
}

#buildPizzaSection{
  display: none;
}

#toppingsSection{
  display: none;
}
.form-control{
  width: 40%;
}

.price{
  text-align: right;
  padding-right: 40px;
}
